@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url(/css/header.css);
@import url(/css/history.css);
@import url(/css/slide.css);



* {
    margin: 0;
    padding: 0;
}

:root{
    --background:#181818 ;
    --primary-color:#BD202C;
    --just-white:#e8e1e1;
    --main-font:'Libre Baskerville';
    --sec-font:'Rubik';
    --third-font:'Roboto Mono';
}

body {
    background-color: var(--background);
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--sec-font);
}


